body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
}
.list {
    list-style: none;
}
.line {
    text-decoration: none;
}
.header {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.header-logo {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.logo {
    color: #4D5AE5;
}
.header-nav {
}
.header-list {
}
.header-item {
}
.header-link {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.header-link:focus,
.header-link:hover {
    color: #4D5AE5;
}
.header-contacts {
    font-weight: 400;
    color: #434455;
}
.section-1 {
    background-color: #2E2F42;
}
h1 {
    font-weight: 600;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
h2
h3 {
    color: #2E2F42;
}